<h4 style="text-align: left;" class="alert alert-info">Séance 1</h4>
<ul>
    <li><span>(<strong>terminé</strong>) <del>Jeudi 09.09, 14h</del></span> --- Groupe L1 INFO
        <ul>
            <li>Préparation : installer les outils, y compris l'inscription au MOOC, voir <a href="https://sebhoa.gitlab.io/s1sc122/01_installations/python/">la page gitlab du cours</a>.</li>
        </ul>
    </li>
    <li><span>(<strong>terminé</strong>)<del>Vendredi 10.09, 14h</del> --- Groupe L1 PMM (Phys, Math, Miashs)<span>
        <ul>
            <li>Préparation : installer les outils (éditeur Python et jupyter lab) voir <a href="https://sebhoa.gitlab.io/s1sc122/01_installations/python/">la page gitlab du cours</a>.</li>
        </ul>
    </span></span>
    </li>
</ul>

<h4 style="text-align: left;" class="alert alert-info">Séance 2</h4>
<ul>
    <li><del>Mercredi 22.09, 16h15</del> <strong>Vendredi 24.09 amphi Commerson</strong> --- Groupe L1 INFO<br> Préparation :
        <ul>
            <li>voir l'<a href="https://moodle-central.univ-reunion.fr/mod/page/view.php?id=217300">activité 1</a></li>
            <li>Notez les concepts de base de la programmation que vous avez rencontrés au cours de l'activité (voyez si vous retrouvez ces concepts dans l'<a href="https://moodle-central.univ-reunion.fr/mod/resource/view.php?id=220384">exemple de programme Python vu lors de la séance 1)</a></li>
        </ul>
    </li>
    <li><span>(<strong>terminé</strong>)<del>Mardi 21.09, 14h</del> --- Groupe L1 PMM<br></span> Préparation :
        <ul>
            <li>Préparation : voir l'<a href="https://moodle-central.univ-reunion.fr/mod/page/view.php?id=217339">activité 1b
            </a></li>
            <li>Notez les concepts de base de la programmation que vous avez rencontrés au cours de l'activité (voyez si vous retrouvez ces concepts dans l'<a href="https://moodle-central.univ-reunion.fr/mod/resource/view.php?id=220384">exemple de programme Python vu lors de la séance 1)</a></li>
        </ul>
    </li>
</ul>

<h4 style="text-align: left;" class="alert alert-info">Séance 3</h4>
<ul>
    <li>Jeudi 07.10, 14h --- Groupe L1 INFO
        <ul>
            <li>Préparation :</li>
        </ul>
    </li>
    <li><strong>Vendredi 08.10, 14h</strong> --- Groupe L1 PMM
        <ul>
            <li>Préparation : <a href="https://moodle-central.univ-reunion.fr/mod/page/view.php?id=226192">Activité 2b</a></li>
        </ul>
    </li>
</ul>